@import "./styling/colours.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* src/index.css */


*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: var(--off-white);
  color: var(--black);
}

#root {
  min-height: 100vh;
}